[class^="icon-"], [class*=" icon-"]{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.icon-phone-small{
	width: 18px;
	height: 18px;
	background-image: url(../img/icons/phone-small.png);
}

.icon-phone-white{
	width: 26px;
	height: 26px;
	background-image: url(../img/icons/phone-white.png);
}

.icon-blueprint{
	width: 29px;
	height: 29px;
	background-image: url(../img/icons/blueprint.png);
}

.icon-tick-white{
	width: 24px;
	height: 20px;
	background-image: url(../img/icons/tick-white.png);
}

.icon-bell-small{
	width: 18px;
	height: 18px;
	background-image: url(../img/icons/bell-small.png);
}

.icon-chat-small{
	width: 16px;
	height: 16px;
	background-image: url(../img/icons/chat-small.png);
}

.icon-email-small{
	width: 16px;
	height: 12px;
	background-image: url(../img/icons/email-small.png);
}

.icon-location-small{
	width: 12px;
	height: 16px;
	background-image: url(../img/icons/location-small.png);
}

.icon-share{
	width: 24px;
	height: 24px;
	background-image: url(../img/icons/share.png);
}

.icon-square{
	width: 17px;
	height: 21px;
	background-image: url(../img/icons/square.png);
}

.icon-wood{
	width: 28px;
	height: 28px;
	background-image: url(../img/icons/wood.png);
}

.icon-saw{
	width: 28px;
	height: 32px;
	background-image: url(../img/icons/saw.png);
}

.icon-base{
	width: 33px;
	height: 22px;
	background-image: url(../img/icons/base.png);
}

.icon-roof{
	width: 32px;
	height: 22px;
	background-image: url(../img/icons/roof.png);
}

.icon-stairs{
	width: 25px;
	height: 24px;
	background-image: url(../img/icons/stairs.png);
}

.icon-room{
	width: 31px;
	height: 25px;
	background-image: url(../img/icons/room.png);
}

.icon-wc{
	width: 33px;
	height: 13px;
	background-image: url(../img/icons/wc.png);
	transform: translateX(3px);
}

.icon-zoom-in{
	width: 24px;
	height: 24px;
	background-image: url(../img/icons/zoom-in.png);
}