.projects-section{
	padding: 55px 0;

	.section-footer{
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 45px;

		@media screen and (max-width: 767px){
			padding-top: 35px;
		}
	}
}

.projects-slider{

}

.project-card{
	position: relative;
	padding: 10px;
	background: #fff;
	border-radius: 5px;
	display: block;
	box-shadow: 0px 4px 20px rgba(#000, 0.09);

	.card-image{
		position: relative;
		background: #000;
		overflow: hidden;
		border-radius: 3px;
		
		&:before{
			content: '';
			display: block;
			padding-top: 72.81%;
		}

		&:after{
			content: '';
			display: block;
			position: absolute;
			z-index: 2;
			height: 152px;
			width: 100%;
			background: linear-gradient(to bottom, transparent, rgba(#000, .37));
			left: 0;
			bottom: 0;
		}

		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			object-fit: cover;
			object-position: center center;
			opacity: .7;
			transition: all .5s;
			border-radius: 3px;
		}
	}

	&:hover{
		.card-image{
			img{
				transform: scale(1.05);
			}
		}
	}

	.card-content{
		color: #fff;
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 35px;
		z-index: 5;
		width: 100%;
	}

	.card-caption{
		font-size: 24px;
		line-height: 1.25;
		font-weight: bold;
		margin-bottom: 15px;
		text-transform: uppercase;
		letter-spacing: 0.05em;

		.square{
			margin-left: 40px;
			position: relative;
			font-size: inherit;

			&:before{
				content: '';
				display: block;
				width: 12px;
				height: 12px;
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 17'%3E%3Cpath fill-rule='evenodd' fill='%23FFF' d='M8.5 6a2.5 2.5 0 110 5 2.5 2.5 0 010-5z'/%3E%3Cpath stroke='%23EFEFEF' opacity='.54' fill='none' d='M8.5 3.5a5 5 0 110 10 5 5 0 010-10z'/%3E%3C/svg%3E") no-repeat center center / contain;
				position: absolute;
				left: -28px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	p{
		font-size: 14px;
		line-height: 1.45;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 0.05em;
	}

	.card-footer{
		margin-top: 10px;
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		width: 100%;

		@media screen and (max-width: 1199px){
			align-items: flex-end;
		}
	}

	&.type-2{
		.card-footer{
			@media screen and (max-width: 575px){
				flex-direction: column;
				align-items: flex-start;

				> div:first-child{
					margin-bottom: 20px;
				}
			}
		}
	}

	.stats-list{
		margin-right: 20px;
		display: flex;

		li{
			margin-right: 50px;
			font-size: 14px;
			line-height: 1.5;
			position: relative;

			&:after{
				content: '';
				display: block;
				width: 17px;
				height: 17px;
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 17'%3E%3Cpath fill-rule='evenodd' fill='%23FFF' d='M8.5 6a2.5 2.5 0 110 5 2.5 2.5 0 010-5z'/%3E%3Cpath stroke='%23EFEFEF' opacity='.54' fill='none' d='M8.5 3.5a5 5 0 110 10 5 5 0 010-10z'/%3E%3C/svg%3E") no-repeat center center / contain;
				position: absolute;
				right: -32px;
				top: 50%;
				transform: translateY(-50%);
			}

			&:last-child{
				margin-right: 0;

				&:after{
					display: none;
				}
			}
		}

		@media screen and (max-width: 1199px){
			flex-direction: column;

			li{
				margin-right: 0;

				&:after{
					display: none;
				}
			}
		}
	}

	.square{
		font-size: 30px;
		letter-spacing: 0.1em;
		font-weight: bold;
		white-space: nowrap;
		line-height: 1;
		text-transform: none;

		small{
			font-size: 14px;
		}
	}

	.price{
		font-size: 30px;
		line-height: 1;
		font-weight: bold;
		letter-spacing: 0.1em;

		small{
			font-size: 14px;
		}
	}

	@media screen and (min-width: 992px){
		.stats-list{
			br{
				display: none;
			}
		}
	}

	@media screen and (max-width: 991px){
		padding: 15px;

		.card-image{
			&:after{
				display: none;
			}

			img{
				opacity: 1;
			}
		}

		.card-content{
			color: $text-color;
			position: static;
			padding: 25px 0 10px;
		}

		.card-caption{
			font-size: 20px;
			margin-bottom: 5px;
		}
	}

	@media screen and (max-width: 767px){
		padding: 10px;
	}
}