.reviews-section{
	padding: 55px 0 120px;

	.section-footer{
		padding-top: 45px;
		display: flex;
		align-items: center;
		justify-content: center;

		.btn{
			width: 100%;
			max-width: 340px;
		}
	}

	&:not(:last-of-type){
		padding-bottom: 55px;
	}

	@media screen and (max-width: 767px){
		padding-bottom: 80px;
	}
}