.team-section{
	padding: 60px 0 50px;
	position: relative;

	.section-decorations{
		.right-bottom{
			position: absolute;
			right: 0;
			bottom: -50px;
		}

		img{
			display: block;
		}

		@media screen and (max-width: 1599px){
			display: none;
		}
	}
}