.technologies-page-section{
	padding-top: 55px;
	margin-bottom: -30px;
}

.technology-section{
	padding: 100px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	.section-inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.section-content{
		flex: auto;
		margin-right: 30px;
		max-width: 690px;
		display: flex;
		flex-direction: column;
	}

	.section-image{
		width: 400px;
		flex: none;
	}

	.tech-caption{
		font-size: 32px;
		font-family: $second-font;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-weight: 400;
		margin-bottom: 35px;
		line-height: 1.25;
		padding-left: 68px;
		position: relative;

		&:before{
			content: '';
			display: block;
			width: 48px;
			height: 2px;
			background: $primary;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.section-text{
		margin-bottom: 40px;
	}

	@media screen and (min-width: 992px){
		&:nth-child(even){
			.section-inner{
				flex-direction: row-reverse;
			}

			.section-content{
				margin-right: 0;
				margin-left: 30px;
				text-align: right;
				align-items: flex-end;
			}

			.tech-caption{
				padding-left: 0;
				padding-right: 68px;

				&:before{
					left: auto;
					right: 0;
				}
			}
		}
	}

	@media screen and (max-width: 991px){
		padding: 75px 0;

		.section-inner{
			flex-direction: column-reverse;
			align-items: flex-start;

			.section-content{
				margin-right: 0;
			}

			.section-image{
				margin-bottom: 30px;
			}
		}

		&:nth-child(even){
			background: #f8f8f8 !important;
		}
	}

	@media screen and (max-width: 767px){
		.tech-caption{
			font-size: 24px;
		}
	}

	@media screen and (max-width: 575px){
		align-items: center;

		.section-image{
			width: 100%;
		}

		.tech-caption{
			padding: 0 !important;

			&:before{
				display: none;
			}
		}
	}
}