.instagram-section{
	padding: 55px 0 110px;

	&:not(:last-of-type){
		padding-bottom: 55px;
	}

	.section-footer{
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 45px;
	}
}

.instagram-card{
	padding: 10px;
	border-radius: $r;
	background: #fff;
	box-shadow: 0 4px 15px rgba(#000, .09);
	position: relative;
	
	&:before{
		content: '';
		display: block;
		padding-top: 100%;
	}
	
	img{
		width: calc(100% - 10px * 2);
		height: calc(100% - 10px * 2);
		position: absolute;
		left: 10px;
		top: 10px;
		display: block;
		object-fit: cover;
		object-position: center center;
	}
}