.seo-text-section{
	padding: 55px 0;

	.section-content{
		margin-bottom: 70px;
	}

	@media screen and (max-width: 991px){
		.cards-list{
			margin-bottom: -45px;

			.item{
				margin-bottom: 45px;
			}
		}
	}
}