.workshop-section{
	padding: 105px 0 120px;
	background-color: #f8f8f8;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 1920px auto;

	.section-rows{
		margin-bottom: 45px;
	}

	@media screen and (max-width: 991px){
		padding: 75px 0 85px;

		.section-rows{
			margin-bottom: 35px;
		}
	}
}

.workshop-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 45px;

	.row-text{
		width: calc(50% - 15px);
		padding-right: 60px;
		flex: none;
	}

	.row-image{
		width: calc(50% - 15px);
		flex: none;
	}

	@media screen and (min-width: 992px){
		&:nth-child(even){
			flex-direction: row-reverse;
		}
	}

	@media screen and (max-width: 991px){
		flex-direction: column-reverse;
		margin-bottom: 35px;

		.row-text,
		.row-image{
			width: 100%;
		}

		.row-text{
			padding-right: 0;
		}

		.row-image{
			margin-bottom: 20px;
		}
	}
}